<footer class="relative isolate bg-white/10 dark:bg-gray-900/10 backdrop-blur-md px-6 py-3">
  <div class="mx-auto max-w-7xl flex flex-col md:flex-row justify-between items-center">

    <!-- Texto del footer -->
    <p class="text-xs text-gray-700 dark:text-gray-300 order-2 md:order-1">
      © 2025 Tu Nombre. Todos los derechos reservados.
    </p>

    <!-- Íconos de redes sociales -->
    <div class="flex gap-4 order-1 md:order-2">


      <a href="#">
        <fa-icon [icon]="iconIg" class="text-lg text-gray-700 dark:text-gray-300"></fa-icon>
      </a>

      <a href="#">
        <fa-icon [icon]="iconLk" class="text-lg text-gray-700 dark:text-gray-300"></fa-icon>
      </a>
      <a href="#">
        <fa-icon [icon]="iconGh" class="text-lg text-gray-700 dark:text-gray-300"></fa-icon>
      </a>


    </div>

  </div>
</footer>
