<footer id="footer" class="relative isolate bg-white/10 dark:bg-gray-900/10 backdrop-blur-lg px-6 py-3 rounded-xl shadow-lg">
  <div class="mx-auto max-w-7xl flex flex-col md:flex-row justify-between items-center">

    <!-- Texto del footer -->
    <p class="text-xs text-gray-800 dark:text-white order-2 md:order-1 text-center md:text-left">
      © 2025 Mauricio Vereau. Todos los derechos reservados.
    </p>

    <!-- Íconos de redes sociales -->
    <div class="flex gap-4 order-1 md:order-2 mt-3 md:mt-0">

      <p class="text-lg text-gray-800 dark:text-white">
        頑
      </p>

      <a href="https://www.linkedin.com/in/mauricio-vereau" target="_blank" aria-label="LinkedIn">
        <fa-icon [icon]="iconLk" class="text-lg text-gray-800 dark:text-white"></fa-icon>
      </a>

      <a href="https://github.com/MauricioVereau" target="_blank" aria-label="GitHub">
        <fa-icon [icon]="iconGh" class="text-lg text-gray-800 dark:text-white"></fa-icon>
      </a>
    </div>
  </div>
</footer>
