<div class="flex flex-col justify-between lg:min-h-screen">
  <!-- Contenedor principal (se adapta a móvil/desktop) -->
  <div
    class="fixed top-4 right-4 z-50 flex items-center gap-2 sm:gap-3 bg-white/10 dark:bg-gray-900/10 backdrop-blur-md px-2 py-1.5 sm:px-3 sm:py-2 rounded-full shadow-lg border border-gray-200 dark:border-gray-700 text-xs sm:text-sm">

    <!-- Botón EN -->
    <button (click)="changeLanguage('en')" [class.bg-blue-600]="translate.getCurrentLang() === 'en'"
      [class.text-white]="translate.getCurrentLang() === 'en'" class="px-2 py-0.5 sm:px-2.5 sm:py-1 rounded-full font-bold transition-colors text-[0.7rem] sm:text-xs
              hover:bg-blue-500
              text-black dark:text-white">
      <strong>EN</strong>
    </button>

    <!-- Botón ES -->
    <button (click)="changeLanguage('es')" [class.bg-blue-600]="translate.getCurrentLang() === 'es'"
      [class.text-white]="translate.getCurrentLang() === 'es'" class="px-2 py-0.5 sm:px-2.5 sm:py-1 rounded-full font-bold transition-colors text-[0.7rem] sm:text-xs
              hover:bg-blue-500
              text-black dark:text-white">
      <strong>ES</strong>
    </button>


    <!-- Separador vertical -->
    <div class="h-4 sm:h-5 w-px bg-gray-300 dark:bg-gray-600 mx-0.5 sm:mx-1"></div>

    <!-- Toggle modo oscuro -->
    <label class="flex items-center cursor-pointer">

      <div
        class="relative w-10 h-5 sm:w-12 sm:h-6 bg-gray-600 dark:bg-gray-300 rounded-full transition-all px-1 flex items-center">
        <input type="checkbox" (change)="toggleDarkMode()" [checked]="isDarkMode" class="sr-only peer">
        <!-- Icono sol (light mode) -->
        <span
          class="absolute left-0.5 sm:left-1 text-yellow-500 text-[0.6rem] sm:text-xs transition-opacity duration-300"
          [class.opacity-100]="!isDarkMode" [class.opacity-0]="!isDarkMode">☀️</span>

        <!-- Circulo deslizante -->
        <div class="absolute w-3 h-3 sm:w-4 sm:h-4 bg-white rounded-full shadow-md transition-transform duration-300 z-10
  peer-checked:translate-x-5 sm:peer-checked:translate-x-6" [class.translate-x-6]="isDarkMode"></div>

        <!-- Icono luna (dark mode) -->
        <span
          class="absolute right-0.5 sm:right-1 text-blue-300 text-[0.6rem] sm:text-xs transition-opacity duration-300"
          [class.opacity-100]="isDarkMode" [class.opacity-0]="isDarkMode">🌙</span>
      </div>
    </label>

  </div>


  <!-- Banner -->
  <div id="banner" class="relative">
    <img src="assets/img/portada.jpg" class="w-full h-48 lg:h-[82vh] xxl:h-[76vh] object-cover object-center"
      alt="Banner">

    <!-- Texto con efecto de escritura -->
    <div class="absolute inset-0 flex items-center justify-center bg-black/30">
      <strong class="text-xl md:text-4xl font-bold text-white text-center px-4">
        {{ displayedText }}<span class="border-r-4 border-white animate-pulse"></span>
      </strong>
    </div>

    <!-- Imagen de perfil -->
    <div class="absolute -bottom-12 left-1/2 transform -translate-x-1/2
            md:left-[5%] md:translate-x-0">
      <img src="assets/img/perfil-micho.jpg"
        class="w-24 h-24 md:w-32 md:h-32 rounded-full border-4 border-white shadow-md" alt="Profile">
    </div>

  </div>

  <!-- Contenido -->
  <div class="pt-14 lg:pt-5 pb-6 px-6 text-center text-gray-900 dark:text-gray-200">
    <h1 class="text-4xl md:text-6xl font-semibold" [ngClass]="{'hidden': isSticky}">Mauricio Vereau</h1>

    <!-- Menú de botones con clases dinámicas -->
    <div [ngClass]="{
      'fixed top-0 left-0 w-full bg-white/10 dark:bg-gray-900/10 backdrop-blur-md py-3 z-40 shadow-md': isSticky,
      'mt-5': !isSticky
    }" class="transition-all duration-200 rounded-xl">
      <div class="mt-1 flex md:justify-center justify-start space-x-2 px-4"
        [ngClass]="{'ml-2 justify-start': isSticky, 'justify-center': !isSticky}">
        <button (click)="abrirModal()"
          class="flex items-center space-x-2 px-4 py-2 bg-white/10 dark:bg-gray-900/10 backdrop-blur-md text-gray-900 dark:text-gray-200 rounded-lg shadow hover:bg-white/20 dark:hover:bg-gray-800/20">
          <fa-icon [icon]="iconMsj"></fa-icon>
          <span class="hidden lg:inline">{{ translate.getTranslation('navbar.mensaje') }}</span>
        </button>
        <button (click)="abrirModalRedes()"
          class="flex items-center space-x-2 px-4 py-2 bg-white/10 dark:bg-gray-900/10 backdrop-blur-md text-gray-900 dark:text-gray-200 rounded-lg shadow hover:bg-white/20 dark:hover:bg-gray-800/20">
          <fa-icon [icon]="iconRed"></fa-icon>
          <span class="hidden lg:inline">{{ translate.getTranslation('navbar.contacto') }}</span>
        </button>
        <button (click)="abrirModalDownload()"
          class="flex items-center space-x-2 px-4 py-2 bg-white/10 dark:bg-gray-900/10 backdrop-blur-md text-gray-900 dark:text-gray-200 rounded-lg shadow hover:bg-white/20 dark:hover:bg-gray-800/20">
          <fa-icon [icon]="iconDownload"></fa-icon>
          <span class="hidden lg:inline">{{ translate.getTranslation('navbar.descargar') }}</span>
        </button>
      </div>
    </div>
  </div>


  <!-- Modal Envío Mensaje-->
  <div *ngIf="modalAbierto"
    class="fixed z-50 inset-0 flex items-center justify-center bg-black bg-opacity-50 transition-opacity p-4"
    (click)="cerrarModal()" (keydown.esc)="cerrarModal()" tabindex="0">

    <div class="relative w-full h-full flex items-center justify-center">
      <div class="border border-gray-200 dark:border-gray-700 bg-white/10 dark:bg-gray-900/10 backdrop-blur-md rounded-xl shadow-xl overflow-hidden flex flex-col
      w-full max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl
      h-auto max-h-[90vh] sm:max-h-[95vh]
      transform transition-all duration-300 ease-in-out">
        <app-send-email [isDarkMode]="isDarkMode" *ngIf="modalAbierto" (cerrar)="cerrarModal()"></app-send-email>
      </div>
    </div>
  </div>

  <!-- Modal Redes Sociales -->
  <div *ngIf="modalRedesAbierto"
    class="fixed z-50 inset-0 flex items-center justify-center bg-black bg-opacity-50 transition-opacity p-2 sm:p-4"
    (click)="cerrarModalRedes()" (keydown.esc)="cerrarModalRedes()" tabindex="0">

    <div class="relative w-full h-full flex items-center justify-center">
      <div class="border border-gray-200 dark:border-gray-700 bg-white/10 dark:bg-gray-900/10 backdrop-blur-md rounded-xl shadow-xl overflow-hidden flex flex-col
      w-full max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl
      h-auto
      min-h-0
      max-h-full
      transform transition-all duration-300 ease-in-out">
        <app-social-media *ngIf="modalRedesAbierto" (cerrar)="cerrarModalRedes()"></app-social-media>
      </div>
    </div>
  </div>

  <!-- Modal Descargar CV -->
  <div *ngIf="modalDownloadAbierto"
    class="fixed z-50 inset-0 flex items-center justify-center bg-black bg-opacity-50 transition-opacity p-4"
    (click)="cerrarModalDownload()" (keydown.esc)="cerrarModalDownload()" tabindex="0">

    <div class="relative w-full h-full flex items-center justify-center">
      <div class="border border-gray-200 dark:border-gray-700 bg-white/10 dark:bg-gray-900/10 backdrop-blur-md rounded-xl shadow-xl overflow-hidden flex flex-col
      w-full max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl
      h-auto max-h-[90vh] sm:max-h-[95vh]
      transform transition-all duration-300 ease-in-out"
      (click)="$event.stopPropagation()">
      <app-download-cv *ngIf="modalDownloadAbierto" (cerrar)="cerrarModalDownload()"></app-download-cv>
    </div>
  </div>
</div>
