<div (click)="$event.stopPropagation()" class="p-4 sm:p-6 max-w-full">
  <div class="relative flex flex-col items-center gap-4">
    <!-- Botón cerrar -->
    <button (click)="cerrar.emit()" class="absolute top-1 right-2 w-9 h-9 flex items-center justify-center rounded-full
           bg-gray-100 dark:bg-gray-700
           hover:bg-gray-200 dark:hover:bg-gray-600
           text-black dark:text-white
           shadow-sm hover:shadow-md
           transition-all duration-200 ease-in-out focus:outline-none">
      <fa-icon [icon]="iconCerrar" class="text-base"></fa-icon>
    </button>

    <!-- Título -->
    <h2 class="text-xl sm:text-2xl font-semibold text-gray-900 dark:text-white text-center mb-4">
      {{ translate.getTranslation('form.title') }}
    </h2>

    <form [formGroup]="contactoForm" (ngSubmit)="enviarFormulario()" class="flex flex-col gap-3 sm:gap-4 w-full">
      <div class="mb-1 sm:mb-2">
        <label class="block text-xs sm:text-sm font-medium text-gray-900 dark:text-white">
          {{ translate.getTranslation('form.nombre') }}
        </label>
        <input formControlName="nombre" name="nombre" placeholder="Nombre"
          class="p-2 sm:p-3 dark:bg-gray-700 dark:text-white mt-1 block w-full px-2 sm:px-3 py-1.5 sm:py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-xs sm:text-sm"
          required />
      </div>

      <div class="mb-1 sm:mb-2">
        <label class="block text-xs sm:text-sm font-medium text-gray-900 dark:text-white">
          {{ translate.getTranslation('form.email') }}
        </label>
        <input formControlName="email" name="email" type="email" placeholder="Correo"
          class="p-2 sm:p-3 dark:bg-gray-700 dark:text-white mt-1 block w-full px-2 sm:px-3 py-1.5 sm:py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-xs sm:text-sm"
          required />
      </div>

      <div class="mb-1 sm:mb-2">
        <label class="block text-xs sm:text-sm font-medium text-gray-900 dark:text-white">
          {{ translate.getTranslation('form.telefono') }}
        </label>
        <input formControlName="telefono" name="telefono" type="tel" placeholder="Teléfono"
          class="p-2 sm:p-3 dark:bg-gray-700 dark:text-white mt-1 block w-full px-2 sm:px-3 py-1.5 sm:py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-xs sm:text-sm"
          required />
      </div>
      <div class="mb-1 sm:mb-2">
        <label class="block text-xs sm:text-sm font-medium text-gray-900 dark:text-white">
          {{ translate.getTranslation('form.mensaje') }}
        </label>
        <textarea formControlName="mensaje" name="contenido" rows="3" placeholder="Mensaje"
          class="p-2 sm:p-3 dark:bg-gray-700 dark:text-white mt-1 block w-full px-2 sm:px-3 py-1.5 sm:py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-xs sm:text-sm resize-none"
          required></textarea>
      </div>

      <div class="w-full flex justify-center">
        <div id="turnstile-container" class="cf-turnstile" style="min-width: 120px; max-width: 300px; min-height: 65px;">
          <!-- Mensaje de carga opcional -->
          <div *ngIf="turnstileError" class="text-red-500 text-sm">
            Error al cargar la verificación. Por favor recarga la página.
          </div>
        </div>
      </div>

      <div class="flex flex-row justify-end mt-2 sm:mt-4 gap-2 sm:gap-3">
        <button type="button" (click)="cerrarModal()" class="px-3 sm:px-5 py-2 sm:py-3 bg-gray-300 dark:bg-gray-600 rounded text-xs sm:text-lg w-full sm:w-auto">Cancelar</button>
        <button type="submit" [disabled]="isSubmitting || isSubmitted"
          class="px-3 sm:px-5 py-2 sm:py-3 bg-blue-500 hover:bg-blue-600 text-white rounded text-xs sm:text-lg w-full sm:w-auto font-bold transition-all duration-300 disabled:opacity-50 disabled:cursor-not-allowed flex items-center justify-center">
          <ng-container *ngIf="!isSubmitting && !isSubmitted">
            <fa-icon [icon]="iconPlane" class="mr-2"></fa-icon>
            Enviar
          </ng-container>
          <ng-container *ngIf="isSubmitting">
            <fa-icon [icon]="iconPlane" class="mr-2 animate-fly"></fa-icon>
            Enviando...
          </ng-container>
          <ng-container *ngIf="isSubmitted">
            <fa-icon [icon]="iconSuccess" class="mr-2 text-green-500 animate-bounce"></fa-icon>
            ¡Enviado!
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>
