<div (click)="$event.stopPropagation()" class="p-4 sm:p-6 ">
  <div class="relative p-6 flex flex-col items-center">
    <!-- Botón X flotante -->
    <button (click)="cerrar.emit()" class="absolute top-2 right-2 w-9 h-9 flex items-center justify-center rounded-full
         bg-gray-100 dark:bg-gray-700
         hover:bg-gray-200 dark:hover:bg-gray-600
         text-black dark:text-white
         shadow-sm hover:shadow-md
         transition-all duration-200 ease-in-out focus:outline-none">
      <fa-icon [icon]="iconCerrar" class="text-base"></fa-icon>
    </button>



    <h2 class="text-xl sm:text-2xl font-semibold text-gray-900 dark:text-white text-center mb-4">
      Redes Sociales
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 w-full">
      <a href="https://github.com/MauricioVereau" target="_blank" class="flex items-center gap-3 px-4 py-2 rounded-lg transition-colors font-semibold shadow
         bg-white/20 dark:bg-gray-900/20
         hover:bg-blue-500 hover:text-white
         dark:hover:bg-blue-500 dark:text-white">
        <fa-icon [icon]="iconGithub"></fa-icon>
        <span>GitHub</span>
      </a>
      <a href="https://linkedin.com/in/mauricio-vereau" target="_blank" class="flex items-center gap-3 px-4 py-2 rounded-lg transition-colors font-semibold shadow
         bg-white/20 dark:bg-gray-900/20
         hover:bg-blue-700 hover:text-white
         dark:hover:bg-blue-700 dark:text-white">
        <fa-icon [icon]="iconLinkedin"></fa-icon>
        <span>LinkedIn</span>
      </a>
      <a href="https://x.com/VereauMauricio" target="_blank" class="flex items-center gap-3 px-4 py-2 rounded-lg transition-colors font-semibold shadow
         bg-white/20 dark:bg-gray-900/20
         hover:bg-blue-400 hover:text-white
         dark:hover:bg-blue-400 dark:text-white">
        <fa-icon [icon]="iconTwitter"></fa-icon>
        <span>X (Twitter)</span>
      </a>
      <a href="https://wa.me/51912800899" target="_blank" class="flex items-center gap-3 px-4 py-2 rounded-lg transition-colors font-semibold shadow
         bg-white/20 dark:bg-gray-900/20
         hover:bg-green-500 hover:text-white
         dark:hover:bg-green-500 dark:text-white">
        <fa-icon [icon]="iconWhatsapp"></fa-icon>
        <span>WhatsApp</span>
      </a>
      <a href="mailto:mauricio.vereau@gmail.com" class="flex items-center gap-3 px-4 py-2 rounded-lg transition-colors font-semibold shadow
         bg-white/20 dark:bg-gray-900/20
         hover:bg-red-500 hover:text-white
         dark:hover:bg-red-500 dark:text-white">
        <fa-icon [icon]="iconGmail"></fa-icon>
        <span>Gmail</span>
      </a>
      <a href="https://instagram.com/mauriciovereau.dev" target="_blank" class="group flex items-center gap-3 px-4 py-2 rounded-lg font-semibold shadow transition-all duration-300
         bg-white/20 dark:bg-gray-900/20
         text-black dark:text-white
         hover:text-white dark:hover:text-white
         hover:bg-[linear-gradient(45deg,#f09433,#e6683c,#dc2743,#cc2366,#bc1888)]">

        <fa-icon [icon]="iconIg" class="transition-colors duration-300 group-hover:text-white"></fa-icon>
        <span class="transition-colors duration-300 group-hover:text-white">Instagram</span>
      </a>


      <!-- <a href="https://instagram.com/micho.dev" target="_blank" class="flex items-center gap-3 px-4 py-2 rounded-lg transition-colors font-semibold shadow
         bg-white/20 dark:bg-gray-900/20
         hover:bg-fuchsia-500 hover:text-orange-400
         dark:hover:bg-fuchsia-500 dark:hover:text-orange-400 dark:text-white">
        <fa-icon [icon]="iconIg"></fa-icon>
        <span>Instagram</span>
      </a> -->
    </div>
  </div>
</div>
